<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Gerenciador de Leilões</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div id="fundo">
    <section id="area-superior">
      <div id="conteudo-superior" class="conteudo">
        <div id="balao-central">
          <header>
            <h1>Meu Cabeçalho</h1>
        </header>
          <h1>Gerenciador de Leilões</h1>
          <p>Matérias de exatas explicadas com a melhor didática.</p>
          <div class="botoes">
            <button class="botao-primario">Comece agora</button>
            <button class="botao-secundario">Saiba mais</button>
          </div>
        </div>
      </div>
    </section>
    <section id="area-inferior">
    </section>
  </div>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>